    /* Estilos da página index.html */
.center{text-align: center;}
.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.justify{
    text-align: justify;
}
#menu li{
    display: inline;
    padding: 10px;

}
#menu li a{
    text-decoration: none;
    color: blue;
    font-size: 15px;
}
#menu li a:hover {
    color: yellow;
}
.p2{
    padding: 30px;
}
.img1{
    border-radius: 50%;
}
.tm-social{
    width: 50px;
    height: 50px;
}
.mb-50{
    margin-bottom: 50px;
}
.ml-50px{
    margin-left: 50px;
}
input, textarea{
    padding: 0.5rem;
    width: 100%;
    font-weight: 20;
    border: 10;
    border-bottom:rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    margin-bottom: 10;
    resize: 0;
}
    /* Estilos da página index.html */